html {
  font-size: 62.5%; }

/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* end of paul irish border-box tip */
body {
  font-family: "Arial", sans-serif;
  font-size: 1.6rem;
  background-color: #213c5c; }

h1,
h2,
h3,
h5,
h6 {
  color: #d4740d; }

h1 {
  font-size: 2rem;
  color: #1e1d1d;
  font-family: "adobe-caslon-pro", serif;
  font-style: normal;
  font-weight: 600; }

h2 {
  font-size: 1.7rem;
  color: #d4740d;
  font-family: "adobe-caslon-pro", serif;
  font-style: normal;
  font-weight: 500; }

h3 {
  font-size: 1.9rem;
  color: #173f6b; }

h4 {
  font-size: 1.2rem;
  text-align: center;
  background-image: url("../img/footer-bg.png");
  padding: 0.5rem 0 0.5rem 0; }

hr {
  margin: 0.5rem 0 1rem 0; }

li {
  font-size: 1.1rem; }

p,
ul,
a {
  font-size: 1.2rem;
  font-family: "Arial", sans-serif; }

.wrapper {
  position: relative; }
  .wrapper__logo {
    position: absolute;
    z-index: 20; }

.top {
  background-color: #0c2745;
  height: 100px;
  width: 960px;
  display: inline-block; }
  .top__logo {
    z-index: 2;
    padding: 5px;
    float: left;
    position: absolute; }
  .top__item {
    z-index: 1;
    float: left;
    position: relative;
    top: 10px; }
  .top__facebook {
    padding-left: 10px;
    position: relative;
    left: 80px;
    top: -5px; }
  .top__link {
    display: block;
    color: #fbfbfb;
    text-decoration: none;
    position: relative;
    left: 70px;
    border-right: solid #fbfbfb 1px;
    padding-left: 10px;
    padding-right: 10px; }
    .top__link:hover {
      color: #d4740d;
      text-decoration: underline; }
  .top__search {
    position: relative;
    left: 100px;
    top: -15px; }
  .top__donate-arrow {
    float: right;
    position: relative;
    top: -5px; }
  .top__navbar {
    position: relative;
    top: -10px; }
  .top p {
    display: inline;
    color: #444;
    position: relative;
    left: 160px;
    top: -50px;
    font-size: 1.1rem;
    padding-right: 60px; }

.header {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  background-color: red;
  align-items: center; }
  .header__nav a {
    color: #ffffff; }
  .header__nav li {
    padding-right: 1.5rem; }

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden; }
  ul li {
    float: left; }
    ul li a {
      display: block;
      color: #515152;
      text-align: center;
      text-decoration: none;
      font-size: 11px;
      font: "Arial", sans-serif; }
      ul li a:hover {
        color: #d4740d;
        text-decoration: none; }

.main-nav {
  position: relative;
  background: url("./../img/navbar.png");
  background-color: #e9e8e8;
  height: 71px; }

.sidenav {
  padding: 1.5rem;
  background-color: #fbfbfb;
  width: 26rem;
  /* Get Involved~ */ }
  .sidenav__header--yellow {
    color: #d4740d; }
  .sidenav__header--blue {
    color: #0c2745; }
  .sidenav__topmenu-link a {
    text-align: left;
    color: #173f6b;
    font-weight: 600;
    font-size: 1.1rem; }
  .sidenav__secondmenu-link {
    width: 100%; }
  .sidenav__secondmenu-link a {
    padding: 0 1rem;
    text-align: left;
    color: #173f6b;
    font-weight: 600;
    font-size: 1.5rem; }

/* card-block section */
.card-block {
  background-color: #e9e8e8;
  margin-bottom: 2rem; }
  .card-block__inline {
    display: inline-block; }
  .card-block__side-img {
    float: left;
    margin: 0 0 0 1rem; }
  .card-block__text {
    font-size: 1.1rem;
    line-height: 125%; }
  .card-block__text-link {
    text-decoration: underline; }
  .card-block__text-link:hover {
    text-decoration: none;
    color: #213c5c; }

/* donate button */
.donatebutton {
  margin: 1rem auto;
  text-align: center; }
  .donatebutton__image {
    width: 90%; }

footer {
  background-color: #0c2745;
  color: #ffffff;
  padding: 1.5rem;
  height: auto; }

.footer-font {
  font-size: 10.5px !important; }

/* Set black background color, white text and some padding */

/*# sourceMappingURL=styles.css.map */
