@import 'base/variables';
@import 'base/reset';
@import 'base/base';


@import 'components/container';
@import 'components/top';
@import 'components/header';
@import 'components/navbar';
@import 'components/main';
@import 'components/sidebar';
@import 'components/footer';
@import 'components/buttons';
@import 'components/card';

#bhs-logo {
  z-index: 2;
  position: absolute;
  top: 10px;
}

.body-padding {
  top: 300px;
}
