/* 

footer: dark-blue #0c2745

background: blue #213c5c

donate button: orange #d6760d 

blue: #224565;

body background: off-white #fefcfd

*/

#aside-link {
  padding-left: 25px;
}

#bhs-logo {
  z-index: 2;
  position: absolute;
  top: 10px;
}

body {
  width: 960px !important;
  font-family: "Arial", sans-serif !important;
  padding: 0px !important;
  
}

.body-padding {
  top: 300px;
}

.card-block {
  background-color: #e9e8e8;
}

.container {
  position: relative !important;
  padding: 0px !important;
}

.donate {
  width: 230px;
  height: auto;
}

#floatright {
  float: right;
}
/* Set black background color, white text and some padding */

footer {
  background-color: #0c2745;
  color: white;
  padding: 15px;
  margin-left: 0px !important;
  height: auto;
  width: 960px !important;
}

.footer-font {
  font-size: 10.5px !important;
}

footer>img {
  float: center;
}

h1,
h2,
h3,
h5,
h6 {
  color: #d4740d !important;
}

h1 {
  font-size: 20pt !important;
  color: #1e1d1d !important;
  font-family: "adobe-caslon-pro", serif !important;
  font-style: normal;
  font-weight: 600 !important;
}

h2 {
  font-size: 17px !important;
  color: #d4740d !important;
  font-family: "adobe-caslon-pro", serif !important;
  font-style: normal;
  font-weight: 500;
}

h3 {
  font-size: 19px !important;
  color: #173f6b !important;
}

h4 {
  font-size: 12pt !important;
  text-align: center;
  background-image: url("../img/footer-bg.png");
  padding: 5px 0px 5px 0px;
}

hr {
  margin: 5px 0px 10px 0px !important;
}

html {
  background-color: #213c5c;
  font-size: 1em !important;
}

li {
  font-size: 11px !important;
}

.outer-main {
  background-color: #213c5c;
  font-size: 10px;
  z-index: 1;
  height: 56px;
  color: #ffffff;
}

p,
ul,
a {
  font-size: 11.5px;
  font-family: "Arial", sans-serif !important;
}
#page-wrap {
  width: 960px;
  margin: 0 auto;
}
.row.content {
  height: 450px
}

.sidenav {
  height: auto;
  padding: 15px;
  padding-top: 90px;
  background-color: #fbfbfb !important;
  width: 260px;
}

.side-img {
  height: 100%;
  width: auto;
}

.top {
  background-color: #0c2745;
  margin: 0px !important;
}

.top-img {
  padding: 0px !important;
  margin: 15px 0px 0px 78px;
}

#top-right {
  position: absolute;
  top: 90px;
  right: 40px;
  z-index: 5;
  color: #fefcfd;
  font-size: 25px;
  font-family: "adobe-caslon-pro", serif;
}
/* NAVBAR */

li {
  float: left;
}

li a {
  display: block;
  color: #515152 !important;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  font: "Arial", sans-serif;
}

li a:hover {
  color: #d4740d !important;
  text-decoration: none;
}

.main-nav {
  font-size: 13px !important;
  z-index: 100;
  position: absolute;
  left: 90px;
  top: 30px;
}

#nav-img {
  background-image: url("../img/navbar.png");
  position: absolute;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin-bottom: 100px;
  padding: 0;
  overflow: hidden;
}
/* END NAVBAR */