.main-nav
{
    margin:-2.8rem 0 0 0;
    padding:0;

    ul
    {
      display:flex;
      justify-content: space-evenly;
      list-style-type: none;
      padding-left:8rem;
      background-color:$off-white;
      border-top:1.8rem solid $charcoal;
      border-bottom:1.8rem solid $charcoal;
    }

    li
    {
      margin:1rem;
    }

    li a
    {
      text-decoration: none;
      font-size:1.2rem;
      color:$charcoal;
      text-transform: uppercase;
    }

    li a:hover
    {
        color:$orange;
    }
}
