footer {
  background-color: #0c2745;
  color: white;
  padding: 15px;
  margin-left: 0px !important;
  height: auto;
  width: 960px !important;
}

.footer-font {
  font-size: 10.5px !important;
}

footer>img {
  float: center;
}
