.header {
  display:flex;
  justify-content: space-between;
  // &__logo {
  // }

  &__logo
  {
    width:119px;
    height:119px;
  }

  &__nav--top {

    a {
      color:$off-white;
    }

    li {
      padding-right: 1.5rem;
    }
  }

  &__facebook
  {
    width:126px;
    height:40px;
  }

  &__search
  {
    width:256px;
    height:29px;
  }

  &__donate-button
  {
    width:242px;
    height:34px;
  }

}


