.header {
  display: flex;
  position:relative;
  flex-flow:row wrap;
  z-index:100;

  &__logo {
    width:119px;
    height:119px;
  }

  &__nav--top {
    display: inline-block;

    a {
      font-size: 1.6rem;
      color: $white;
    }

    li
    {
      display: inline-block;
    }

  }

  &__link a:after
  {
    content: "|";
    margin:0 2.5rem;
  }

  &__facebook
  {
    height:100%;
  }

  &__search
  {
    height:100%;
  }

  &__donate-arrow
  {
    height:100%;
  }

  &__nav--main
  {
    margin-top:-12rem;
    display:inline-block;
    width: 100%;
    height:7rem;
  }

  &__nav--main-container
  {
    padding-left:10rem;
    background-color:$off-white;
    border-top: 2rem solid $charcoal;
    border-bottom: 2rem solid $charcoal;
    display:flex;
    flex-flow:row wrap;

    li
    {
      font-size:1.6rem;
      text-align: center;
      margin:0 1.5rem;
      padding:1rem 0;
      width:13.5%;
    }
  }
}


