ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;

  li {
    float: left;

    a {
      display: block;
      color: #515152;
      text-align: center;
      text-decoration: none;
      font-size: 11px;
      font: "Arial", sans-serif;

      &:hover {
        color: #d4740d;
        text-decoration: none;
      }
    }

  }

}

.main-nav {
  position: relative;
  background: url('./../img/navbar.png');
  background-color: $grey;
  height: 71px;
}


