.sidenav {
  height: auto;
  padding: 15px;
  padding-top: 90px;
  background-color: #fbfbfb !important;
  width: 260px;
}

.side-img {
  height: 100%;
  width: auto;
}

.aside-link {
  padding-left: 25px;
}
