.top {
  background-color: $dark-blue;
  margin: 0;
}

.top-img {
  padding: 0;
  margin: 1.5rem 0 0 7.8rem;
}

#top-right {
  position: absolute;
  top: 9rem;
  right: 4rem;
  z-index: 5;
  color: $off-white;
  font-size: 2.5rem;
  font-family: "adobe-caslon-pro", serif;
}
.top {
  background-color: $dark-blue;
  margin: 0;
}

.top-img {
  padding: 0;
  margin: 1.5rem 0 0 7.8rem;
}

#top-right {
  position: absolute;
  top: 9rem;
  right: 4rem;
  z-index: 5;
  color: $off-white;
  font-size: 2.5rem;
  font-family: "adobe-caslon-pro", serif;
}

