
html {
  font-size: 62.5%;
}

/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
// html {
//   box-sizing: border-box;
// }

// *, *:before, *:after {
//   box-sizing: inherit;
// }
/* end of paul irish border-box tip */


body {
  font-family: "Arial", sans-serif;
  font-size: 1.6rem;
  background-color: $light-blue;
}


h1,
h2,
h3,
h5,
h6 {
  color: $orange;
}

h1 {
  font-size: 2rem;
  color: $black;
  font-family: "adobe-caslon-pro", serif;
  font-style: normal;
  font-weight: 600;
}

h2 {
  font-size: 1.7rem;
  color: $orange;
  font-family: "adobe-caslon-pro", serif;
  font-style: normal;
  font-weight: 500;
}

h3 {
  font-size: 1.9rem;
  color: $lightest-blue;
}

h4 {
  font-size: 1.2rem;
  text-align: center;
  background-image: url("../img/footer-bg.png");
  padding: 0.5rem 0 0.5rem 0;
}

hr {
  margin: 0.5rem 0 1rem 0;
}

li {
  font-size: 1.1rem;
}

p,
ul,
a {
  font-size: 1.2rem;
  font-family: "Arial", sans-serif;
}
